* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* applies listed CSS properties to all elements, applies padding and border to all elements' width and height */

body {
    background-color: #d9dcd6;
}

/* applies specified background color to body element */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* applies listed CSS properties to header element - changed from div tag */

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes <h1> in header to inline-block display and adjusts font size */

header h1 .seo {
    color: #d9dcd6;
}

/* applies specified color to string "seo" in <h1> header text "Horiseon" */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* applies listed CSS properties to navigation bar within the header element - changed from <div> to <nav> */

header nav ul {
    list-style-type: none;
}

/* applies listed CSS properties to unordered list within the navigation bar within the header element - changed from <div> to <nav> */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

/* applies listed CSS properties to list element within unordered list within the navigation bar within the header element - changed from <div> to <nav> */

a {
    color: #ffffff;
    text-decoration: none;
    
}

/* formats header nav links to be white and removes default hyperlink format */
p {
    font-size: 16px;
}

/* 16px font size for paragraph element */
.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* changed class name to an appropriate description */
/* sets parameters for main image banner*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* float-left and float-right sets margin parameters and position 
for images in content section relative to their accompanying text */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {

    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}


aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* consolidated previous classes into aside element  */

main section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

/* consolidated previous classes in aside element into one selector  */


main section img {
    max-height: 200px;
}

/* consolidated previous img selector into one class */


main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* applies listed margin and font properties to h2 elements within benefit-list class  */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer class pushes footer element underneath floated elements above it
 and applies padding, text properties */

footer h4 {
    font-size: 20px;
}

/* applies specified font size to h4 - changed from h2 element - within footer */